<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'Ori'Ginal Créations</title>
        <link href="css/main.css" rel="stylesheet" type="text/css"/> 
        <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet" type="text/css"> 
        <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script> 
        <script src="js/notify.min.js"></script> 
        <script src="http://localhost:8083/socket.io/socket.io.js"></script>
        <script src="js/websocket.js"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}{% endblock %}
    </body>
</html>