<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'Original'Ginal Créations</title>
        <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}{% endblock %}
    </body>
</html>