{% extends 'base.twig' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="css/home.css" />
<script type="text/javascript" src="js/home.js"></script>
{% endblock %}

{% block content %}

    <div id="panel"></div>
    
    <div id="home">
    	<div id="title">
    		L'Ori'Ginal Création
    	</div>

    	<div id="immo" class="block">
    		<span>
    			Artisant créateur de mobilier sur mesure
    		</span>	
    	</div>
    	<div id="animations" class="block">
    		<span>
    			Evenementiel pour enfants
    		</span>	
    	</div>
    </div>	
{% endblock %}

{% block scripts %}
<script>
$(document).on('ready', function(){
	var Home = new HomeClass(); 
});
</script>
{% endblock %}	