<nav>
	<ul>
		<li data-return="home" class="title">L'Ori'Ginal Création</li>
		<li data-part="immo">Immobiler</li>
		<li data-part="animations">Animations</li>
		<li data-part="contact">Contact</li>
	</ul>	
</nav>	